<style>
    .common-hero {
        width: 100%;
        height: 30vh; /* Full screen height or adjust as needed */
        background-image: url('/Banner/contact.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
    }

        .common-hero::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6); /* adjust opacity here */
            z-index: 0;
        }

        .common-hero .container,
        .common-hero .main-heading {
            position: relative;
            z-index: 2;
        }

            .common-hero .main-heading h1 {
                color: #ffffff;
                white-space: nowrap;
            }

    #brand-logo-1,
    #brand-logo-2 {
        max-width: 149px !important; /* or adjust to 80px, 60px, etc. */
        height: auto !important;
    }

    #text-align{
        text-align: justify;
    }

    #contact1 {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: -29px;
    }

    #contact2,
    #contact3,
    #contact4 {
        flex: 1 1 calc(33.33% - 20px);
        box-sizing: border-box;
    }

    #icon1,
    #icon2
     {
        height: 60px;
        width: 175px;
    }

    #icon3 {
        height: 60px;
        width: 135px;
    }

    #heading{
        margin-top: 31px;
    }
</style>
<!--=====HERO AREA START=======-->

                        <div class="common-hero">
                          <div class="container">
                            <div class="row align-items-center text-center">
                              <div class="col-lg-8 m-auto">
                                <div class="main-heading">
                                  <h1>Contact Us</h1>
                                    <div class="space16"></div>
                                   
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <!--=====HERO AREA END=======-->

<section class="hero10-benar">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12">
                <div class="marquee-wrap marquee-wrap-inner">
                    <div class="marquee-text">

                        <div class="brand-single-box">
                            <img src="/assets/img/logo/slider-logo1.png" alt="">
                        </div>

                        <div class="brand-single-box">
                            <img src="/assets/img/logo/slider-logo2.png" alt="">
                        </div>

                        <div class="brand-single-box">
                            <img src="/assets/img/logo/slider-logo3.png" alt="">
                        </div>

                        <div class="brand-single-box">
                            <img src="/assets/img/logo/slider-logo4.png" alt="">
                        </div>

                        <div class="brand-single-box">
                            <img src="/assets/img/logo/slider-logo5.png" alt="">
                        </div>

                        <div class="brand-single-box">
                            <img id="brand-logo-1" src="/new-images/sp-removebg-preview.png" alt="">
                        </div>

                        <div class="brand-single-box">
                            <img id="brand-logo-2" src="/new-images/chirkut-removebg-preview.png" alt="">
                        </div>

                        <div class="brand-single-box">
                            <img src="/assets/img/logo/slider-logo1.png" alt="">
                        </div>

                        <div class="brand-single-box">
                            <img src="/assets/img/logo/slider-logo2.png" alt="">
                        </div>

                        <div class="brand-single-box">
                            <img src="/assets/img/logo/slider-logo3.png" alt="">
                        </div>

                        <div class="brand-single-box">
                            <img src="/assets/img/logo/slider-logo4.png" alt="">
                        </div>

                        <div class="brand-single-box">
                            <img src="/assets/img/logo/slider-logo5.png" alt="">
                        </div>

                        <div class="brand-single-box">
                            <img id="brand-logo-1" src="/new-images/sp-removebg-preview.png" alt="">
                        </div>

                        <div class="brand-single-box">
                            <img id="brand-logo-2" src="/new-images/chirkut-removebg-preview.png" alt="">
                        </div>
                        <div class="brand-single-box">
                            <img src="/assets/img/logo/slider-logo4.png" alt="">
                        </div>

                        <div class="brand-single-box">
                            <img src="/assets/img/logo/slider-logo5.png" alt="">
                        </div>

                        <div class="brand-single-box">
                            <img id="brand-logo-1" src="/new-images/sp-removebg-preview.png" alt="">
                        </div>

                        <div class="brand-single-box">
                            <img id="brand-logo-2" src="/new-images/chirkut-removebg-preview.png" alt="">
                        </div>
                        <div class="brand-single-box">
                            <img src="/assets/img/logo/slider-logo1.png" alt="">
                        </div>

                        <div class="brand-single-box">
                            <img src="/assets/img/logo/slider-logo2.png" alt="">
                        </div>

                        <div class="brand-single-box">
                            <img src="/assets/img/logo/slider-logo3.png" alt="">
                        </div>

                        <div class="brand-single-box">
                            <img src="/assets/img/logo/slider-logo4.png" alt="">
                        </div>

                        <div class="brand-single-box">
                            <img src="/assets/img/logo/slider-logo5.png" alt="">
                        </div>

                        <div class="brand-single-box">
                            <img id="brand-logo-1" src="/new-images/sp-removebg-preview.png" alt="">
                        </div>

                        <div class="brand-single-box">
                            <img id="brand-logo-2" src="/new-images/chirkut-removebg-preview.png" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="slider-after"></div>
    </div>
</section>

                        <div class="space100"></div>


        <!--=====CONTACT AREA START=======-->

        <div class="contact-page">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="contact-boxs">
                            <div class="heading1">
                                <h2>Contact Information</h2>
                                <div class="space16"></div>
                                <p>We’ve grown up with the internet revolution, and we <br> know how to deliver on its</p>
                            </div>
                            <div class="contact-box">
                                <div class="icon">
                                    <img src="/assets/img/icons/contact-page-icon1.png" alt="">
                                </div>
                                <div class="heading">
                                    <h5>Contact Us</h5>
                            <a href="tel:+91XXXXXXXXXX">+91 7205729525</a>
                                </div>
                            </div>

                            <div class="contact-box">
                                <div class="icon">
                                    <img src="/assets/img/icons/contact-page-icon2.png" alt="">
                                </div>
                                <div class="heading">
                                    <h5>Send Us a Mail</h5>
                            <a href="mailto:connect@aspireedge.com">connect@aspireedge.com</a>
                                </div>
                            </div>

                            <div class="contact-box">
                                <div class="icon">
                                    <img src="/assets/img/icons/contact-page-icon3.png" alt="">
                                </div>
                                <div class="heading">
                                    <h5>Office Location</h5>
                            <a href="tel:+91XXXXXXXXXX" class="text">
                                HIG-323 K-5, K.V, Kalinga Vihar LIG<br /> Bhubaneswar, Odisha 751019
                            </a>

                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="contact-form-details">
                            <form action="#">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="single-input">
                                            <input type="text" placeholder="First Name">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="single-input">
                                            <input type="text" placeholder="Last Name">
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="single-input">
                                            <input type="email" placeholder="Email">
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="single-input">
                                            <input type="number" placeholder="Phone">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="single-input">
                                            <input type="text" placeholder="Subject">
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="single-input">
                                            <textarea cols="30" rows="5" placeholder="Message"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <button class="theme-btn1">Submit <span><i class="fa-solid fa-arrow-right"></i></span></button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<div class="space16"></div>
<div class="contact-page">
    <div class="container">
        <div class="row">
            




<!--
            
<div class="col-lg-12">
                <div class="heading1" id="heading">
                    <h2>We’re Located At</h2>
                    <div class="space16"></div>
                </div>

                <div class="contact-boxs" id="contact1">
                    <div class="contact-box" id="contact2">
                        <div class="icon" id="icon1">
                            <img src="/assets/img/icons/contact-page-icon3.png" alt="">
                        </div>
                        <div class="heading">
                            <a href="" class="text">
                                #37, ADITYA 1st Cross Road KRISHNAPPA, Prabhakar Reddy Layout Rd, Bommanahalli, Bengaluru, Karnataka 560068
                            </a>
                        </div>
                    </div>

                    <div class="contact-box" id="contact3">
                        <div class="icon" id="icon2">
                            <img src="/assets/img/icons/contact-page-icon3.png" alt="">
                        </div>
                        <div class="heading">
                            <a href="" class="text">
                                U 41/1-2 U Block, DLF Phase 3, Nathupur, Sector 24, Gurugram, Haryana 122002

                            </a>
                        </div>
                    </div>


                    <div class="contact-box" id="contact4">
                        <div class="icon" id="icon3">
                            <img src="/assets/img/icons/contact-page-icon3.png" alt="">
                        </div>
                        <div class="heading">
                            <a href="" class="text">
                                H/1, Monilal Saha Ln, Esplanade, Janbazar, Taltala, Kolkata, West Bengal 700013
                            </a>
                        </div>
                    </div>
                </div>

            </div> 

-->










        </div>
    </div>
</div>


        <!--=====CONACT AREA END=======-->
        <div class="space16"></div>

        <div class="contact-map-page">
    <iframe src="https://www.google.com/maps?q=20.235394,85.755899&z=17&output=embed" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>

        <!--=====CTA AREA START=======-->

<div class="cta">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="heading1-w" id="text-align">
                    <h2 class="title tg-element-title">At AspireEdge Private Limited, We're Committed To Businesses</h2>
                    <div class="space16"></div>
                    <p data-aos="fade-right" data-aos-duration="700">Take the first step towards achieving your business goals by contacting us today. Schedule a consultation with one of our IT specialists to discuss your objectives and explore how our innovative solutions can propel.</p>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="buttons">
                    <a href="/contact" class="cta-btn1">
                        Request a Consultation <span><i class="fa-solid fa-arrow-right"></i></span>
                    </a>
                    <a href="/solutions" class="cta-btn2">
                        Explore Solution <span><i class="fa-solid fa-arrow-right"></i></span>
                    </a>
                    <a href="https://aspireedge.com/" class="cta-btn2">
                        Explore LMS <span><i class="fa-solid fa-arrow-right"></i></span>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>


<!--=====CTA AREA END=======-->